<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<!-- 配置 Spring 配置文件的位置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<!-- 使用 ContextLoaderListener 初始化 Spring 容器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 定义 Struts2 的 FilterDispatcher 的 Filter -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<!-- <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class> --><!-- 已过时 -->
	</filter>
	<!-- FilterDispatcher 用来初始化 Struts2 并处理所有的 Web 请求 -->
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 定义 Web 首页 -->
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	<display-name>FGNote</display-name>
</web-app>